@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgColor text-white;
}

#grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}
